<!-- About -->
<section class="about bg-dark">
    <div class="container">
        <div class="grid-2">
            <div class="center">
                <i class="fa-solid fa-glasses fa-10x"></i>
            </div>
            <div>
                <h3>About Us</h3>
                <p>We are passionate about eyewear and believe that the right pair of glasses can not only enhance your
                    vision
                    but also elevate your style.</p>
            </div>
        </div>
    </div>
</section>