<!-- Navigation bar -->
<nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #00233b;">
  <div class="container-fluid">
    <a style="color: #fc2727" class="navbar-brand" href="#"> <i class="fa-solid fa-glasses fa-lg"
        style="color: #fc2727;"></i> Iglass</a>
    <div id="line"></div>&nbsp;&nbsp;&nbsp;&nbsp;
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
      aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a routerLink="/login" class="nav-link active">Log in</a>
        </li>
        <li class="nav-item">
          <a routerLink="/home" class="nav-link active">Home</a>
        </li>
      </ul>
    </div>
  </div>
</nav>