/* Form Styles */
form {
  background: #4C868F;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  margin-top: 15px;
}

/* زر رفع الصورة */
.custom-file-input {
  cursor: pointer;
}

.custom-file-label {
  border-radius: 6px;
  background-color: #f8f9fa;
  padding: 10px;
  border: 1px solid #ced4da;
  color: #495057;
  font-size: 1rem;
  transition: background 0.3s ease-in-out, transform 0.2s;
}

.custom-file-input:focus~.custom-file-label {
  background-color: #e9ecef;
  border-color: #80bdff;
}

/* تصميم المعاينة */
.image-preview {
  text-align: center;
}

.image-preview img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.custom-file-input {
  opacity: 0; /* إخفاء الزر الأصلي */
  position: absolute;
  z-index: -1;
}


/* Global Body Styles */
body {
  background-image: linear-gradient(to right, #2c3e50, #4ca1af);
  overflow-x: hidden;
  background-color: #f4f4f4;
  color: #333;
}


.main-content {
  margin-left: 250px; /* يضيف مساحة تساوي عرض الشريط الجانبي */
  padding: 30px;
  overflow-y: auto; /* يمكن التمرير في حالة وجود محتوى طويل */
  width: 100%;
}
/* Button Styles */
.btn-primary {
  border: none;
  padding: 12px 25px;
  font-size: 1rem;
  border-radius: 6px;
  transition: background 0.3s ease-in-out, transform 0.2s;
}

.btn-primary:hover {
  background-color: #003d82;
  transform: scale(1.05);
}

/* Button Spacing */
.btn-block {
  margin-top: 20px;
}

ng-select {
  width: 100%;
  height: auto;
}

#face_shape {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  max-height: 200px;
  overflow-y: auto;
}

