
  <body>
    <!-- Navigation bar -->




    <div class="d-flex justify-content-start align-items-center vh-100">
      <div class="card text-center custom-card">
        <div class="card-body">
          <img
            src="/assets/images/glass 2.png"
            class="card-img-top mx-auto"
            alt="About Us Image"
          />
          <h2 class="card-title">About Us</h2>
          <p class="card-text">
            Welcome to Iglass, where vision meets style. We are passionate about
            eyewear and believe that the right pair of glasses can not only
            enhance your vision but also elevate your style.
          </p>
          <p class="card-text">
            Our mission is to make it easy for you to find eyeglasses that fit
            your unique style and face shape like a charm. At Iglass, we
            understand that eyewear is more than just a practical accessory;
            it's a statement of your personality and individuality. Whether
            you're seeking a trendy and fashionable pair of glasses or a classic
            and timeless frame, we've got you covered.
          </p>
          <p class="card-text">
            Our team is dedicated to providing you with a curated selection of
            eyewear that combines comfort, quality, and aesthetics. We're here
            to assist you in choosing the perfect frames that not only improve
            your vision but also reflect your personal style.
          </p>
        </div>
      </div>
    </div>

    <!-- footer -->
<footer class="bg-dark text-light py-4  "  >
  <div class="container">
    <div class="row">
      <div class="col-md-6 footer">
        <p class="copyrights">&copy; 2023 Iglass. All rights reserved.</p>

        <div class="social-icons">
          <a class="social-icon social-icon--instagram">
            <i class="fa-brands fa-instagram"></i>
            <div class="tooltip">Instagram</div>
          </a>
          <a class="social-icon social-icon--linkedin">
            <i class="fa-brands fa-linkedin"></i>
            <div class="tooltip">LinkedIn</div>
          </a>
          <a class="social-icon social-icon--facebook">
            <i class="fa-brands fa-facebook"></i>
            <div class="tooltip">Facebook</div>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/js/swiper.min.js"></script>
<script src="./script.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/js/swiper.min.js"></script>
<script src="./js/script.js"></script>
</body>

















