<body>
<section class="h-100 gradient-form">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div id="sad">
          <img id="face" src="assets/images/sadFace.png" alt="">
        </div>
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">
                <div class="text-center">
                  <img src="assets/images/glass 1.png" style="width: 185px;" alt="logo">
                  <h4 class="mt-1 mb-5 pb-1">IGlass</h4>
                </div>
                <h5>Are you sure you want to log out?</h5>
                <div class="buttons">
                  <button (click)="onLogout('Yes')" class="btn btn-primary">Yes</button>
                  <button (click)="onLogout('Cancel')" class="btn btn-secondary">Cancel</button>
                </div>
              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <h4 class="mb-4">We are more than just an eyewear store</h4>
                <p class="small mb-0">Our mission is to make it easy for you to find eyeglasses that fit your unique style and face shape</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>